version: "3"

services:
  redis:
    image: arm32v6/redis:5-alpine
    ports:
      - 6379:6379
  eye:
    build: .
    volumes:
      - ./src:/code
      - ../neochi-core/src/neochi:/code/neochi
    depends_on:
      - redis
